{{LOG_TIMESTAMP}} START RequestId: {{UUID}} Version: $LATEST
{{LOG_TIMESTAMP}} {{UUID}} {{CORR_ID}} INFO	{ "action": "confirmation"  "from": "{{FROM_USER}}","to": "{{TO_USER}}","email": "blog@gonzague.me", "reason": "None_of_the_above","role": "Student"}
{{LOG_TIMESTAMP}} {{UUID}} {{CORR_ID}} INFO Email Sender going to "payment status": "Payment {{OPTIONAL:complete|failed}}"
{{LOG_TIMESTAMP_1000}} {{UUID}} {{CORR_ID}} INFO	SUCCESS SENDING essage:{    "ResponseMetadata": {        "RequestId": "014df02b-8be1-4f5a-a65a-aada73ae6e60"    },    "MessageId": "0102016ec0f7d5ec-733bb532-5434-4338-b9b2-f1169fe79678-000000"}
{{LOG_TIMESTAMP_1000}} {{UUID}} {{CORR_ID}} { "result": "ok" }
{{LOG_TIMESTAMP_1000}} END RequestId: {{UUID}}
{{LOG_TIMESTAMP_1000}} REPORT RequestId: {{UUID}}	Duration: {{DURATION:600-999}} ms	Billed Duration: 1000 ms	Memory Size: 128 MB	Max Memory Used: {{MEM_USED:50-100}} MB	Init Duration: {{INIT_DURATION:100-600}} ms